%h2="Campaign Monitor Subscribe Forms"
%div
  %a{:href => "/"}="Back to my pages"
%h3=@page.name

%div="Enter your subscribe form details for <em>#{@page.name}</em> below."

- if @sf and @sf.errors.length > 0
  %div{:id => :form_error, :class => "errormessagebox messagebox"}
    %ul{:class => 'errors'}
      - @sf.errors.each do |e|
        %li=e

%form{:id => :page, :method => :post, :action => "/page/#{@page.id}"}
  %p
    ="Intro message:"
    %input{:type => :text, :size => 60, :name => :intro_message, :id => :intro_message, :value => @sf ? @sf.intro_message : default_intro_message}
  %p
    ="Thanks message:"
    %input{:type => :text, :size => 60, :name => :thanks_message, :id => :thanks_message, :value => @sf ? @sf.thanks_message : default_thanks_message}
  %p
    ="API Key:"
    %input{:type => :text, :name => :apikey, :id => :apikey, :value => @sf ? @sf.api_key : ''}
  %p
    ="List ID:"
    %input{:type => :text, :name => :listid, :id => :listid, :value => @sf ? @sf.list_id : ''}
  %p
    %input{:type => :submit, :value => "Save form"}

- if @fields and !@fields.empty?
  %div="Select any custom fields you'd like to include in your subscribe form."

  %form{:id => :custom_fields, :method => :post, :action => "/page/#{@page.id}/fields"}
    - @fields.each do |cf|
      %p
        %input{:id => att_friendly_key(cf.Key), :name => att_friendly_key(cf.Key), :type => :checkbox, :value => att_friendly_key(cf.Key), :checked => !@applied_fields.index(att_friendly_key(cf.Key)).nil? && "checked"}
        %span="#{cf.FieldName} (#{cf.DataType})"
    %p
      %input{:type => :submit, :value => "Save fields"}