!!!
/[if lt IE 9 ] <html class="ie" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
/ [if gt IE 8]><!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  / <![endif]
  %head
    %title Subscribe Settings
    %meta{:content => "text/html; charset=utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:name => "description", :content => "Easily add subscribe forms to your Facebook pages"}
    %link{:href => versioned_stylesheet('cm'), :rel => "stylesheet", :type => "text/css"}/
    %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.js"}
    %script{:type => "text/javascript", :src => "/js/jquery.absolutize.js"}
    %script{:type => "text/javascript", :src => "/js/jquery-ui-core.min.js"}
    %script{:type => "text/javascript", :src => "/js/jquery.validate.min.js"}
    %script{:type => "text/javascript", :src => "/js/handlebars.1.0.0.beta.3.js"}
    %script{:type => "text/javascript", :src => versioned_javascript('settings')}
    = erb :_settings_templates
    :javascript
      $(function () { cmfbsub.settings.ready(#{@js_data}); });
    /[if lt IE 9]
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    %header.clear
      %h1{:class => white_label ? "cs" : ""} Settings
      - unless @account
        %button.sign-in
          Log into your account
        %menu.context-box.sign-in
          .error.hidden Oops, you mistyped your username or password.
          %form#loginform
            %label{:for => "site-address"} Site address
            %label.hint .createsend.com
            %input#site-address{:type => "text", :name => "site_url_prefix"}/
            %input#site-address-full{:type => "hidden", :name => "site_url"}/
            %label{:for => "username"} Username
            %input#username{:type => "text", :name => "username"}/
            %label{:for => "password"} Password
            %input#password{:type => "password", :name => "password"}/
            %button.primary{:type => "submit"} Log in
    %section#body{:style => "display:none"}
      - if @user
        - if @pages and !@pages.empty?
          %h1 Add a subscription form to:
          %span#otherpages{:class => "back", :style => "display:none"}
            %a Other Pages
          - @pages.each do |p|
            %div
              .page{:id => "page-#{p.id}"}
                %figure
                  %img{:src => p.image_url}/
                %h2="#{p.name}"
                %p="#{p.category}"
              .prefs
                .pref.arrowed
                  %label{:for => "clients"} Which will add subscribers to:
                  .wrapper
                    .clients
                      %select{:id => "clients-#{p.id}"}
                    %select{:style => "display:none", :class => "list", :id => "lists-#{p.id}"}
                .pref.arrowed
                  %form{:id => "messages-#{p.id}"}
                    %label{:for => "intromessage-#{p.id}"} Intro message:
                    %input{:type => :text, :id => "intromessage-#{p.id}", :class => 'required message', :name => "intromessage-#{p.id}", :maxlength => 250, :value => "Please enter your details to subscribe to our list."}
                    %br/
                    %label{:for => "thanksmessage-#{p.id}"} Thanks message:
                    %input{:type => :text, :id => "thanksmessage-#{p.id}", :class => 'required message', :name => "thanksmessage-#{p.id}", :maxlength => 250, :value => "Thank you for subscribing to our list. You'll be hearing from us soon."}
                    %br/
                  %label The form will ask for:
                  %fieldset{:id => "fields-#{p.id}"}
                .pref.save
                  %button.primary Save Form
        - else
          %h1{:class => "center"} Before we begin, you'll need to create a <a href="http://www.facebook.com/pages/create.php" target="_blank">Facebook Page</a>
          %a{:id => "page-create", :href => "http://www.facebook.com/pages/create.php", :target => "_blank"}
          
      - else
        %p
          <fb:login-button show-faces="true"></fb:login-button>

    %footer
    = partial :fb_root, {:js_conf => @js_conf}